.main-content {
    display: flex;
    flex-direction: column;
    /* min-height: calc(100vh - 80px); */
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    width: 99%;
    padding: 0px 10px;
}

.emp-detail-text {
    font: normal normal bold 24px/25px Roboto;
    text-align: left;
    padding: 0px 10px;
    width: 71%;

}

.add-button {

    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: #82a70c;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 40px;

}

.table-main {
    width: 83%;
    margin: 0 auto;
    overflow: auto;
    

}

.table {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;


}

td {
    text-align: center;
    padding: 5px 8px;
    /* border: 1px solid #dddddd; */
    /* border: 1px solid #E3E3E3; */
    
    
}

th {
    background: #42515F 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    width:200px;
    height: 40px;
   
    
   
}
tr:not(:first-child) {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

td {
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
}
td:first-child {
    display: flex;
    align-items: center;
}

td img:first-child {
    margin-right: 10px;
}

td img {
    cursor: pointer;
}
